
.faqHeader {
  font-size:27px;
  margin:20px;
}

.panel-heading [data-toggle="collapse"]:after {
  font-family:'FontAwesome';
  content:"\f078";
  float:right;
  color:#F58723;
  font-size:18px;
  line-height:22px;
}

.panel-heading [data-toggle="collapse"].collapsed:after {
  color:#454444;
}

.centered {
  float:none;
  margin-left:0;
  margin-right:0;
}

h1, h2, h3 {
  font-family:'Crimson Text';
}

a{
  text-decoration: none !important;
}

p {
  font-family:'Montserrat';
  font-size:22px;
  text-align: justify;
   text-justify: inter-word;
}

body {
  color:#4b4b4b;
}

.nav.navbar-nav.navbar-right {
  margin-right:0;
}

.dropdown-menu {
  top:30px;
  left:0px;
  min-width: 0px;
  border-width: 0px;
  -moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
  background-color: transparent;
  background-image: none;
  color: #59A7CD;
}

/*show drop down on hover*/
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
/*revert in case of mobile*/
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

.footer{
  font-family: 'Montserrat';
  font-size: 16px;
  color: black;
  letter-spacing: 2px;
  background-color: #f2f2f2;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-title {
  padding-top: 25px;
  padding-bottom: 5px;
}

.footer-menu{
  padding-left: 0px;
  list-style: none;
  list-style-type:  none;
}

.footer-menu-item{
  text-transform: uppercase;
  padding-top: 10px;
  font-size: 16px;
  color: black;
}

.footer-menu-item a{
  color: #2a447e;
}

.footer-menu-item a:hover{
  color: #8B211B;
}

.footer-copy{
  font-family: 'Montserrat';
  font-size: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  text-align: center;
}

#homepagebigimage {
  text-align:center;
  padding:40px;
  /*background:url(../../assets/img/home1-opc.jpg);*/
  background-image: url(../../assets/img/homepageimagev3.jpg);
  background-size:cover;
  height:800px;
  background-position:center top;
}

#homepagebigimage h1 {
  font-size:70px;
  top:450px;
}

#homehemopagebigimage h1{
  top:105px;
  font-size:80px;
  min-width: 450px;
}

#aboutpagebigimage h1{
  top:140px;
  font-size:80px;
  min-width: 450px;
}

#faqpagebigimage h1{
  font-size:90px;
  top:330px;
}

#servicepagebigimage h1{
  font-size:80px;
}

#skilledpagebigimage h1{
  font-size:90px;
  top:105px;
}

#contactpagebigimage h1{
  top:320px;
  font-size:80px;
}

@media screen and (max-width: 1600px) {
  #homepagebigimage h1 {
    font-size:70px;
    top:450px;
  }
  
  #skilledpagebigimage h1{
    font-size:80px;
    top:105px;
  }

  #homehemopagebigimage h1{
    top:105px;
    font-size:70px;
  }

  #faqpagebigimage h1{
    font-size:70px;
    top:350px;
  }

}

@media screen and (max-width: 1500px) {
  #homepagebigimage h1 {
    font-size:70px;
    top:500px;
  }
  #homehemopagebigimage h1{
    top:105px;
    font-size:60px;
  }
  #aboutpagebigimage h1{
    top:140px;
    font-size:70px;
    min-width: 450px;
  }
  
  #skilledpagebigimage h1{
    font-size:66px;
    top:105px;
  }  

  #contactpagebigimage h1{
    top:320px;
    font-size:70px;
  }

}
@media screen and (max-width: 1400px) {
    #contactpagebigimage h1{
    top:320px;
    font-size:50px;
  }
}

@media screen and (max-width: 1300px) {
  #homepagebigimage h1 {
    font-size:70px;
    top:500px;
  }
  #homehemopagebigimage h1{
    top:105px;
    font-size:60px;
  }
  #aboutpagebigimage h1{
    top:140px;
    font-size:60px;
    min-width: 450px;
  }

  #skilledpagebigimage h1{
    font-size:56px;
    top:105px;
  }

  #contactpagebigimage h1{
    top:270px;
    font-size:50px;
  }

}

@media screen and (max-width: 1200px) {
  #homepagebigimage h1 {
    font-size:60px;
  }
  #aboutpagebigimage h1{
    top:140px;
    font-size:50px;
    min-width: 450px;
  }
  #servicepagebigimage h1{
    font-size:60px;
  }

  #skilledpagebigimage h1{
    font-size:46px;
    top:105px;
  }

}

@media screen and (max-width: 1100px) {
  #homepagebigimage h1 {
    font-size:40px;
  }

  #faqpagebigimage h1{
    font-size:40px;
    top:370px;
  }
  #servicepagebigimage h1{
    font-size:50px;
  }
  #skilledpagebigimage h1{
    font-size:40px;
    top:405px;
  }

  #contactpagebigimage h1{
    top:270px;
    font-size:50px;
  }
}

@media screen and (max-width: 1000px) {
  #contactpagebigimage h1{
    top:270px;
    font-size:70px;
  }

}

@media screen and (max-width: 900px) {
  #contactpagebigimage h1{
    top:270px;
    font-size:40px;
  }
}


#homepagebigimageMobile {
  text-align:center;
  padding:40px;
  /*background:url(../../assets/img/home1-opc.jpg);*/
  background-image: url(../../assets/img/homepageimagev3.jpg);
  background-size:cover;
  height:200px;
  background-position:right top;
  background-repeat: no-repeat;
}

#servicepagebigimage{
  text-align:center;
  padding:40px;
  /*background:url(../../assets/img/home1-opc.jpg);*/
  background-image: url(../../assets/img/service-opc1.jpg);
  background-size:cover;
  height:450px;
  background-position:center right;
}

#skilledpagebigimage{
  text-align:center;
  padding:40px;
  background-image: url(../../assets/img/skilled-nursing.jpg);
  background-size:cover;
  height:600px;
  background-position:right top;
}

#homehemopagebigimage{
  text-align:center;
  padding:40px;
  background-image: url(../../assets/img/home-hemodialysis.jpg);
  background-size:cover;
  height:600px;
  background-position:right top;
}

#homehemopagebigimage{
  text-align:center;
  padding:40px;
  background-image: url(../../assets/img/home-hemodialysis.jpg);
  background-size:cover;
  height:600px;
  background-position:right top;
}


#faqpagebigimage {
  background-image:url(../../assets/img/faq.jpg);
  text-align:center;
  padding:40px;
  background-size:cover;
  height:450px;
  background-position:center right;
}

#aboutpagebigimage{
  background-image:url(../../assets/img/600073900.jpg);
  text-align:center;
  padding:40px;
  background-size:cover;
  height:450px;
  background-position:center top;
}

#contactpagebigimage{
   background-image:url(../../assets/img/contact.jpg);
  text-align:center;
  padding:40px;
  background-size:cover;
  height:450px;
  background-position:center top; 
}
.navbar.navbar-default {
  box-shadow:none;
  border:0px;
}
.navbar{
  height:130px;
}
#navcol-1 {
  font-family:'Montserrat';
  font-size:100%;
  transform:scaleY(1.3);
  padding-right:80px;

}
#navcol-1 ul{
  margin-top:50px;
  background-color: white;
}

@media screen and (max-width: 1000px) {

  #navcol-1 {
    padding-right:0px;
  }
}


@media screen and (max-width: 728px) {
  #navcol-1 {
    font-family:'Montserrat';
    font-size:100%;
    transform:scaleY(1.0);
    padding-right:0px;
  }

  .navbar {
    height:80px;
  }

  #navcol-1 ul{
    margin-top:0px;
    background-color: white;
  }
}

.navbar-default .navbar-nav > li > a {
  color: black;
}
.navbar-default .navbar-nav > li > a:hover {
  /*color: #2A447E;*/
  color: #59A7CD;
}

#aboutusbigimage {
  background-image:url(../../assets/img/iStock-648773550.jpg);
  background-size:cover;
}

.learn-more {
  font-size:15px;
  color:  #8B211B;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.panel-default>.panel-heading {
  background-image: none;
  background-color: transparent;
}

.panel-title{
  font-weight: 600;
  color: gray;
}
.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border: none;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "";    /* adjust as needed, taken from bootstrap.css */
}

#accordion .ui-icon { display: none; }

/*BOOTSTRAP ARROWS REMOVED*/
.right.carousel-control, .left.carousel-control {
    opacity: 0;
    filter:alpha(opacity=0); /* IE support */
}

.zoom img {
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.zoom-rr:hover img {
  -moz-transform: scale(1.1) rotate(5deg);
  -webkit-transform: scale(1.1) rotate(5deg);
  transform: scale(1.1) rotate(5deg);
}

.zoom-rl:hover img {
  -moz-transform: scale(1.1) rotate(-5deg);
  -webkit-transform: scale(1.1) rotate(-5deg);
  transform: scale(1.1) rotate(-5deg);
}

.slick-prev:before {
  color: red;
}
.slick-next:before {
  color: red;
}

/*Contact form css*/

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background:#76B6D5;
  padding:25px;
  padding-top: 5px;
  margin:50px 0;
}

#contact h3 {
  color: white;
  display: block;
  font-size: 30px;
  font-weight: 400;
  font-family: "Crimson"
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
  color: white;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:#0CF;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:#09C;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

/*end*/
#newsletter{
    font-size: 20px;
    border: 1px solid;
    border-color: #76B6D5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
}

#newsletter-submit{
    font-size: 20px;
    border: 1px solid;
    border-color: #76B6D5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -10px;
    outline: none;
}

#diamond {
  content:\'\';
  width:1px;
  border-left:70px solid transparent;
  border-right:70px solid transparent;
  border-top:40px solid #FFF;
  position:relative;
  top:40px;
  margin-left:auto;
  margin-right:auto;
  z-index:1;
}
